<%- include ("../partials/header") %>

<h1>Notifications</h1>

<ul>
	<% allNotifications.forEach(function(notification) { %>
	<li>
		<a href="/course/<%= notification.courseId %>">
			<%= notification.username %> created a new course
		</a>
	</li>
	<% }); %>
</ul>

<%- include ("../partials/footer") %>