<%- include ("../partials/header") %> 

     <header class="jumbotron">
         <div class="container">
             <h1><i class="fas fa-campground"></i> Welcome To ReviewCourse User's Page!</h1>
             <p>View users from all over the website</p>
              <p>
              <form action="/users" method="GET" class="form-inline" id="user-search">
                <div class="form-group">
                  <input type="text" name="search" placeholder="User search..." class="form-control">
                </div>
              </form>
             </p>
         </div>
     </header>
     
     <div class="row text-center" id="user-grid">
        <% user.forEach(function(user){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                   <img class="card-img-top" src="<%= user.avatar %>">
                   <div class="card-body">
                       <h5 class="card-title"><%= user.username %></h5>
                       <% if (user.rating === 0) { %>
                            <em>No reviews yet.</em>
                        <% } else { %>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star <% if (user.rating > 1.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (user.rating > 2.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (user.rating > 3.5) { %> checked <% } %>"></span>
                            <span class="fa fa-star <% if (user.rating > 4.5) { %> checked <% } %>"></span>
                        <% } %>
                       <a href="/users/<%= user.slug %>" class="btn btn-primary">More Info</a>
                   </div>
                </div>
            </div>
        <% }); %>
    </div>

</div><!-- /.container -->
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container">
    <p class="text-muted">&copy; ReviewCourse 2020 | <a href="/course">Home</a> | <a href="/course/new">New Course</a></p>
  </div>
</footer>
<!--  CDN -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- Custom JS for search feature -->
<script src="/scripts/userSearch.js" async defer></script>
</body>
</html>
